* {
    --dark_blue: #1f2937;
    --main-text-color: #f9faf8;
    --secondary-text-color: #e5e7eb;
    --button-color: #3882f6;
}

body {
    margin: 0;
}

.header {
    background-color: var(--dark_blue);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 32px;
}

.header h1 {
    color: var(--main-text-color);
    font-size: 24px;
}

.header ul {
    font-size: 18px;
    list-style-type: none;
    display: flex;
    margin: 0;
    gap: 16px;
}

.header a {
    text-decoration: none;
    color: var(--secondary-text-color);
}

.hero {
    background-color: var(--dark_blue);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    padding: 100px 32px;
}

.hero-main {
    font-size: 48px;
    font-weight: bolder;
    color: var(--main-text-color);
}

.hero-secondary {
    font-size: 18px;
    color: var(--secondary-text-color);
}

.container button {
    background-color: var(--button-color);
    color: white;
    font-weight: bold;
    border: 0;
    padding: 6px;
    font-size: 17px;
    width: 125px;
    border-radius: 5px;
}

.hero img {
    width: auto;
    height: 275px;
}

.info {
    display: flex;
    gap: 35px;
    justify-content: center;
    padding-bottom: 80px;
}

.info-tile {
    max-width: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.info-tile img {
    width: 100px;
    height: 100px;
}

h1 {
    text-align: center;
    font-size: 36px;
    color: var(--dark_blue);
}

p {
    text-align: center;
    margin: 0;
}

.quote-section {
    background-color: var(--secondary-text-color);
    padding: 80px;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    color: var(--dark_blue);
}

.source {
    font-size: 18px;
    text-align: end;
    font-weight: bold;
}

.action-area {
    background-color: var(--button-color);
    display: flex;
    justify-content: space-evenly;
    padding: 36px;
    margin: 80px 80px;
    border-radius: 5px;
}

.action-words .call {
    text-align: left;
    color: white;
    font-weight: bold;
}

.action-words .button-call {
    color: var(--secondary-text-color);
    text-align: left;
}

.action-area button {
    border-color: white;
    background-color: var(--button-color);
    color: white;
    padding: 6px;
    font-size: 17px;
    width: 100px;
    border-radius: 5px;
    font-weight: bold;
}

.footer {
    background-color: var(--dark_blue);
    color: var(--secondary-text-color);
    text-align: center;
    padding: 40px;
}
